*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.DotSettings.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
dist/
# Visual Studio 2015 - 2017
.vs/
launchSettings.json

## LibreOffice
.~lock.*.xlsx#

##
# RIDER 
.idea/

##
# Generated deployment files
.k8s/deploy*.yml

node_modules


!src/api/**/Debug/
